# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache
__pycache__/

# Misc
.DS_Store
.idea
dataset/
output/
